@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Calle Falsa 123<br />
    Ave. Siempre viva<br />
    <abbr title="Phone">P:</abbr>
    809-555-3333
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">yhomarth@gmail.com</a><br />
</address>
